@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-gray-50 text-slate-800 antialiased;
}

a {
  @apply text-sky-700 hover:text-sky-800 transition-colors;
}
